<div class="question-item-full">
    <h1><%= title %></h1>
    <h4>Spørgsmål</h4>
    <div class="question-body"><%= question %></div>
    <h4>Svar</h4>
    <div class="answer-body"><%= answer %></div>
</div>